.clan-card {
  margin: 40px;
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 0px 0px 10px black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.logo {
  width: 400px;
  margin: 2rem;
}
.index-background {
  background: url("../img/back.jpg") no-repeat center center fixed;
  background-color: rgba(0%, 0%, 0%, 0.2);
  background-blend-mode: overlay;
}
