.solid {
  border-style: solid;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clan-card {
  margin: 40px;
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 0px 0px 10px black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.officer-card {
  margin: 20px;
}
.officer-card-img {
  width: 200px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.country-card {
  width: 200px;
  height: 200px;
  margin: 30px;
}
.logo {
  width: 400px;
  margin: 2rem;
}
.index-background {
  background-image: url("../img/back.jpg");
  background-color: #cccccc;
  background-size: cover;
}
.character-bg {
  background-image: url("../img/character-bg.jpg");
  background-color: #cccccc;
  background-size: cover;
}
.character-img {
  width: 60%;
  object-fit: cover;
}
.character-name {
  font-size: 200%;
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}
.character-introduce {
  font-size: 120%;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 5px black;
  margin-top: 30px;
}
