.solid {
  border-style: solid;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clan-card {
  margin: 20px;
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 0px 0px 10px black;
}
.officer-card {
  margin: 20px;
}
.country-card {
  width: 200px;
  height: 200px;
  margin: 30px;
}
.logo {
  width: 400px;
  margin: 2rem;
}
.index-background {
  background-image: url("./img/back.jpg");
  background-color: #cccccc;
  background-size: cover;
}
